* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

.app-topbar {
  background: #1b1764;
  color: white;
  height: 18px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.app-header {
  background: white;
  height: 105px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  border-bottom: 3px solid #d7193f;
}

.app-logo {
  width: 85px;
  height: 85px;
  border: 2px solid #1b1764;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 42px;
}

.app-title {
  text-align: center;
  color: #1b1764;
}

.app-title h1,
.app-title h2 {
  margin: 0;
  font-size: 38px;
  font-weight: 900;
  letter-spacing: 2px;
}

.app-right {
  display: flex;
  align-items: center;
  gap: 25px;
  font-weight: bold;
}

.app-escudo {
  font-size: 48px;
}

.app-right p {
  margin: 8px 0;
}

.verde {
  color: #138a35;
}

.azul {
  color: #1166c2;
}

.rojo {
  color: #d7193f;
}

.app-navbar {
  background: white;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 38px;
  border-bottom: 1px solid #ddd;
}

.app-navbar a {
  color: #111;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  padding: 13px 0;
}

.app-navbar a:hover {
  color: #d7193f;
  border-bottom: 3px solid #d7193f;
}

.app-content {
  max-width: 1050px;
  margin: 25px auto;
  min-height: 420px;
}

.app-footer {
  background: #1b1764;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 35px 8%;
  margin-top: 40px;
}

.app-footer h3 {
  font-size: 16px;
  border-bottom: 2px solid #d7193f;
  padding-bottom: 8px;
}

.app-footer p {
  font-size: 14px;
}

.app-footer button {
  background: #312c82;
  color: white;
  border: none;
  padding: 10px 16px;
  margin-right: 10px;
  border-radius: 3px;
}

.app-copy {
  background: #1b1764;
  color: white;
  text-align: center;
  border-top: 1px solid #39358b;
  padding: 20px;
  font-size: 13px;
}